<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
h3
{
text-align:center;
}
</style>
</head>
<body>
	
	<div ng-controller="homeController">
		<nav class="navbar navbar-default bluenavbar">
		<div class="container-fluid margin-top-10">
			<div class="navbar-header">
				<a class="navbar-brand"  href="#!home">Book Management</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a class="font-white" href="#!home">Home</a></li>
				<li><a class="font-white" href="#!aboutus">About Us</a></li>
				<li><a class="font-white" href="#!noticeboard">Notice Board</a></li>
				 <li><a class="font-white" href="#!addbook">Add Book</a></li>
				  <li><a class="font-white" href="#!ticketbooking">Book Ticket</a></li> 
			</ul>
			<ul class="nav navbar-nav navbar-right">
     
      <li><a class="font-white" href="#!"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
    </ul>
		</div>
	</nav>
	<h3>Book Details</h3>
		<table class="table">
			<thead>
				<tr class="warning">
					
					<th>NAME</th>
					<th>AUTHOR</th>
					<th>BATCHCODE</th>
					<th>GST</th>
					<th>PUBLICATION</th>
					<th>PRICE</th>
					<th>AGE GROUP</th>
					<th>BOOK TYPE</th>
					<th>EDIT</th>
					<th>DELETE</th>
					

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="book in myBooks">

				
					<td>{{book.name}}</td>
					<td>{{book.author}}</td>
					<td>{{book.batchcode}}</td>
					<td>{{book.gst}}</td>
					<td>{{book.publication}}</td>
					<td>{{book.price}}</td>
					<td>{{book.agegroup}}</td>
					<td>{{book.booktype}}</td>
					<td><button class="btn btn-primary" ng-click="editBook(book)">EDIT</button></td>
				 <td><button class="btn btn-danger" ng-click="deleteBook(book.id)">DELETE</button></td>
				 
				 </tr>
			</tbody>
		</table>



	</div>

</body>
</html>