<!DOCTYPE html>
<html>

<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet"
	href="./css/global.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/controllers/indexCtrl.js"></script>
<script type="text/javascript" src="/controllers/homeCtrl.js"></script>
<script type="text/javascript" src="/controllers/aboutusCtrl.js"></script>
<script type="text/javascript" src="/controllers/noticeCtrl.js"></script>
<script type="text/javascript" src="/controllers/addbookCtrl.js"></script>
<script type="text/javascript" src="/controllers/editbookCtrl.js"></script>
<script type="text/javascript" src="/controllers/loginCtrl.js"></script>
<script type="text/javascript" src="/controllers/ticketCtrl.js"></script>
<script type="text/javascript" src="/controllers/booksuggestionCtrl.js"></script>
<script type="text/javascript" src="/controllers/stockCtrl.js"></script>
<script type="text/javascript" src="/controllers/bookborrowCtrl.js"></script>
<script type="text/javascript" src="/controllers/booksellCtrl.js"></script>
<script type="text/javascript" src="/controllers/bookpurchaseCtrl.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<meta charset="ISO-8859-1">

<title>Book Management System</title>
</head>
<body ng-app="myApp">
	<div>
		<div ng-view></div>

	</div>


</body>
</html>